 * {
	 box-sizing: border-box;
}
 @font-face {
	 font-family: 'stratum2';
	 src: url('/fonts/stratum2-regular-webfont.eot');
	 src: url('/fonts/stratum2-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/stratum2-regular-webfont.woff') format('woff'), url('/fonts/stratum2-regular-webfont.ttf') format('truetype'), url('/fonts/stratum2-regular-webfont.svg#stratum2') format('svg');
	 font-weight: normal;
	 font-style: normal;
}
 body {
	 margin: 0;
	 font-family: stratum2, Helvetica, sans-serif;
}
 .navigation {
	 position: relative;
	 width: 100%;
	 max-width: 1044px;
	 padding: 0 10px;
	 margin: 75px auto 50px auto;
	 display: flex;
	 align-items: center;
}
 .navigation .logo {
	 margin-right: 15px;
}
 .navigation .logo img {
	 height: 50px;
}
 .navigation .menu-items {
	 width: 100%;
	 padding: 20px;
	 background: #18252f;
	 list-style: none;
	 margin: 0;
	 display: flex;
	 align-items: center;
	 border-radius: 4px;
	 justify-content: flex-end;
}
 .navigation .menu-items a {
	 color: #fff;
	 text-decoration: none;
}
 .background {
	 position: fixed;
	 width: 100%;
	 height: 100%;
	 top: 0;
	 left: 0;
}
 .background:after {
	 position: absolute;
	 content: '';
	 width: calc(100% + 100px);
	 height: calc(100% + 100px);
	 top: -50px;
	 left: -50px;
	 background: url('/images/inferno.jpg');
	 background-size: cover;
	 filter: blur(30px) brightness(0.3);
}
 .container {
	 position: relative;
	 width: 100%;
	 max-width: 1044px;
	 padding: 0 10px;
	 margin: 0 auto;
}
 .match-list .match {
	 width: 100%;
	 padding: 20px;
	 background: rgba(0, 0, 0, .3);
	 display: flex;
	 justify-content: space-between;
}
 .match-list .match a {
	 text-decoration: none;
	 color: #fff;
}
 .scoreboard {
	 width: 100%;
	 margin: 0 auto;
	 backdrop-filter: blur(0px);
	 border-radius: 20px;
}
 .scoreboard .team .ct, .scoreboard .team .t {
	 align-items: center;
	 display: flex;
}
 .scoreboard .team .ct .score, .scoreboard .team .t .score {
	 width: 100%;
	 max-width: 110px;
	 display: flex;
	 flex-direction: column;
	 margin-right: 20px;
}
 .scoreboard .team .ct .score .rounds, .scoreboard .team .t .score .rounds {
	 text-align: center;
	 position: relative;
	 margin: 10px 0;
}
 .scoreboard .team .ct .score .rounds img, .scoreboard .team .t .score .rounds img {
	 width: 100%;
	 opacity: 0.6;
}
 .scoreboard .team .ct .score .rounds .number, .scoreboard .team .t .score .rounds .number {
	 position: absolute;
	 top: -10px;
	 right: 0;
	 left: -5px;
	 bottom: 0;
	 font-size: 60px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 text-shadow: 2px 2px 0 #53606c;
	 font-family: "Arial Black", Gadget, sans-serif;
}
 .scoreboard .team .ct .score .team-name, .scoreboard .team .t .score .team-name {
	 font-family: Arial, Helvetica, sans-serif;
	 font-weight: 700;
	 text-align: center;
	 text-shadow: 1px 1px 0 #06030a;
}
 .scoreboard .team .t {
	 color: #e8cb85;
}
 .scoreboard .team .t .score {
	 flex-direction: column-reverse !important;
}
 .scoreboard .team .ct {
	 color: #b4d6ef;
	 margin-bottom: 20px;
}
 .scoreboard .team .ct .score {
	 margin-top: 38px;
}
 .scoreboard .table {
	 width: 100%;
	 display: flex;
	 flex-direction: column;
	 font-family: "Arial Black", Gadget, sans-serif;
}
 .scoreboard .table .table-row.table-header {
	 color: #c1c1c1;
	 text-shadow: 1px 1px rgba(0, 0, 0, .4);
	 background-color: transparent;
}
 .scoreboard .table .table-row {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 background-color: rgba(0, 0, 0, .3);
	 margin-bottom: 4px;
	 transition: 0.3s opacity ease-out;
}
 .scoreboard .table .table-row.dead {
	 opacity: 0.4;
}
 .scoreboard .table .table-row .table-data {
	 flex-basis: 75px;
	 flex-shrink: 0;
	 text-align: center;
	 padding: 10px;
	 font-family: Arial, Helvetica, sans-serif;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .scoreboard .table .table-row .table-data:first-of-type {
	 flex-basis: 100%;
	 flex-shrink: 1;
	 text-align: left;
	 justify-content: flex-start;
}
 .scoreboard .table .table-row .table-data:nth-of-type(2), .scoreboard .table .table-row .table-data:nth-of-type(3) {
	 flex-basis: 120px;
}
 .scoreboard .table .table-row .table-data .weapon {
	 height: 14px;
	 margin-left: 10px;
}
 .scoreboard .table .table-row .table-data .progressbar {
	 position: relative;
	 width: 100%;
	 height: 25px;
	 background: rgba(213, 216, 197, .3);
}
 .scoreboard .table .table-row .table-data .progressbar:after {
	 position: absolute;
	 content: attr(data-progress);
	 height: 100%;
	 width: 100%;
	 left: 0;
	 top: 0;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 color: #fff;
}
 .scoreboard .table .table-row .table-data .progressbar span {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 height: 100%;
	 background-color: rgba(0, 255, 0, .3);
	 transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
 .scoreboard .table .table-row .table-data .progressbar.yellow span {
	 background-color: rgba(255, 255, 0, .3);
}
 .scoreboard .table .table-row .table-data .progressbar.red span {
	 background-color: rgba(255, 0, 0, .3);
}
 .game-info {
	 display: flex;
	 height: 100px;
	 width: 100%;
	 padding-left: 130px;
	 justify-content: space-between;
}
 @media screen and (max-width: 500px) {
	 .game-info {
		 padding-left: 0;
	}
}
 .game-info .stat {
	 font-size: 30px;
	 color: whitesmoke;
}
 .game-info .stat .key {
	 font-weight: bold;
}
 .game-info .round-info {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 width: 100%;
	 height: 68px;
}
 .game-info .round-info .timer {
	 font-size: 68px;
	 font-weight: bold;
	/* Setting the width avoids movement when time changes */
	 width: 128px;
	 color: #fff;
}
 .game-info .round-info .timer.red {
	 color: #cc4141;
}
 .game-info .round-info .timer.hide {
	 visibility: hidden;
}
 .game-info .round-info .bomb {
	 margin-left: 30px;
	 width: 50px;
	 visibility: hidden;
	 fill: #900;
}
 .game-info .round-info .bomb.shown {
	 visibility: visible;
}
 .game-info .round-info .bomb.defused {
	 fill: #309e4d;
}
 .kill-feed {
	 width: 100%;
	 max-width: 400px;
	 text-align: right;
	 justify-self: flex-end;
	 display: flex;
	 flex-direction: column;
	 align-items: flex-end;
}
 .kill-feed .kill {
	 background-color: rgba(0, 0, 0, 0.3);
	 border: 1px solid orangered;
	 padding: 3px 10px;
	 border-radius: 2px;
	 display: flex;
	 align-items: center;
	 width: fit-content;
	 margin-top: 5px;
}
 .kill-feed .kill:first-child {
	 margin-top: 0;
}
 .kill-feed .kill .ct {
	 color: #b4d6ef;
	 font-weight: 700;
}
 .kill-feed .kill .terrorist {
	 color: #e8cb85;
	 font-weight: 700;
}
 .kill-feed .kill img {
	 height: 15px;
}
 .kill-feed .kill img, .kill-feed .kill span {
	 margin: 0 5px;
}
 .kill-feed .kill .headshot {
	 margin-left: 0;
}
 .match-debug {
	 background: rgba(0, 0, 0, 0.3);
	 color: #fff;
	 padding: 20px;
	 margin-top: 20px;
	 text-shadow: 1px 1px #333;
}
