<div class="match-list">
  <%= for match <- @matches do %>
  <div class="match">
    <%= link("#{match.server_instance_token}", to: Routes.match_path(@socket, :show, match.server_instance_token)) %>
    <%= link("Watch >", to: Routes.match_path(@socket, :show, match.server_instance_token)) %>
  </div>
  <% end %>

  <%= if Enum.empty?(@matches) do %>
  <div style="color: #fff;">
    No matches to display
  </div>
  <% end %>
</div>
