<h1>Match!</h1>

<div style="display: flex;justify-content: space-between;">
  <div>
    <%= Map.from_struct(@match) |> Map.drop([:players, :kill_feed]) |> Jason.encode!(pretty: true) %>
  </div>

  <div style="width: 100%;max-width: 200px;flex-shrink: 0;text-align: right;">
    <%= for %{ killer: killer, killed: killed, weapon: weapon } <- @match.kill_feed |> Enum.slice(0..2) do %>
      <div>
        <%= killer.username %>
        <span style="transform: scaleX(-1);display: inline-block;">
          <%= if weapon == "knife_t" do %>
            🗡️
          <%= else %>
            🔫
          <%= end %>
        </span>
        <%= killed.username %>
      </div>
    <% end %>
  </div>
</div>

<h2>CTs!</h2>

<%= for {username, player} <- @match.players, player.team == :ct do %>
<div>
  <%= username %> <%= Map.from_struct(player) |> Jason.encode!(pretty: :true) %>
</div>
<% end %>


<h2>Terrorists!</h2>

<%= for {username, player} <- @match.players, player.team == :terrorist do %>
<div>
  <%= username %> <%= Map.from_struct(player) |> Jason.encode!(pretty: :true) %>
</div>
<% end %>

